
body{
        display: grid;
        max-height: 100vh;
        /*margin: 0 auto;
        align-content: start;
        justify-content: start;*/
        grid-template-columns: 10% 1fr;
        grid-auto-rows: 100%;
        gap: 1em;
        grid-template-areas:
           "header header"
           "nav main"
            "nav footer";
        
    }

 h1, aside, nav, footer, main{
    background-color: #BBCCFF;
}

h1 {
  font-family: zilla;
  margin: 0;
  padding: 10px;
}

header{
            display: grid;
            grid-auto-rows: auto;
            grid-template-columns: 80% 1fr;
            grid-template-areas:
           "h1 aside";
           gap: 10px;

}

aside{
    display: flex;
    align-items: center;
    
}

header { grid-area: header;}
header aside {grid-area: aside;}
nav {grid-area: nav;}
main{grid-area: main;}
footer{grid-area: footer;}
header h1{grid-area: h1;}

.principal{

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;

}
h2{
    width: 100%;
}
h3{
        display: flex;
        justify-content: center;
        align-content: center;
}
section{

        display: flex;
        flex-wrap: wrap;

        /*marges*/
        width: 500px;
        padding: 20px;
        margin: 10px;

        /*bords et fonds*/
        background-color: white;
        /*border: 2px solid rgb(96 139 168);
        border-radius: 5px;*/
}

p{
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: center;
        align-content: center;
}
footer{
        display: flex;
        align-content: flex-start;
}
